In [1]:
import cx_Oracle

In [2]:
myconnection = cx_Oracle.connect('lexis/lexis@93.175.29.93/mipt')

In [3]:
cur = myconnection.cursor()

In [4]:
cur.execute("select table_name from USER_TABLES")
res = cur.fetchall()
for row in res:
        print("{0}".format(row[0]))

WORD_TO_PM
WORDS
UNDEFINED_WORDS
TEST_WORDS
TESTS
SIMPLE_RULES
RULES
PROPOSAL_MEMBERS
PART_OF_SPEECH
NEW_WORDS
EXCEPTIONS
CASE_OF_WORD

In [8]:
cur.execute("select * from words where word = 'вы'")
res = cur.fetchall()
for row in res:
    print(row)
for row in res:
        print("{0}".format(row[0]))

('вы', 20241, 19680, 0, 'b', 'N', '1', ' ', ' ', '2', ' ')
вы

In [13]:
cur.execute("select * from words where mid = 93571 and  fid = 6449")
res = cur.fetchall()
for row in res:
    print(row)

('нюансировавшей', 93571, 6449, 8, '7', 'Y', '6', 'F', 'P', ' ', ' ')
('нюансировавшей', 93571, 6449, 9, '7', 'Y', '6', 'F', 'P', ' ', ' ')
('нюансированной', 93571, 6449, 10, '7', 'Y', '6', 'F', 'P', ' ', ' ')
('нюансированной', 93571, 6449, 11, '7', 'Y', '6', 'F', 'P', ' ', ' ')

In [12]:
cur.execute("select column_name from user_tab_columns where table_name = 'WORDS'")
res = cur.fetchall()
for row in res:
        print("{0}".format(row[0]))

WORD
MID
FID
CID
POS
SINGULAR
COW
KIND
TENSE
PERSON
ANIMAL

In [8]:
cur.execute("select * from case_of_word")
res = cur.fetchall()
for row in res:
        print(row)

(' ', 'неопределено')
('1', 'именительный')
('2', 'родительный')
('3', 'дательный')
('4', 'винительный')
('5', 'творительный')
('6', 'предложный')
('7', 'звательный')
('8', 'второй родительный')
('9', 'второй винительный')
('0', 'второй предложный')

In [26]:
cur.execute("select cow from words where word = 'сна'")
res = cur.fetchall()
for row in res:
        print(row)

('2',)

In [67]:
cur.execute("create table simple_rules(r_id number(10) NOT NULL, prt_l varchar2(1), prt_r varchar2(1), sing_l varchar2(1), sing_r varchar2(1), ans varchar2(1), comm varchar2(100), constraint sr_pk primary key (r_id))")

In [66]:
cur.execute("drop table simple_rules")

In [71]:
cur.execute("insert into simple_rules(r_id, prt_l, prt_r, sing_l, sing_r, ans) values (1, 'b', '5', 'N', 'N', 'Y')")

In [187]:
cur.execute("insert into simple_rules(r_id, prt_l, prt_r, sing_l, sing_r, ans) values (2, '1', '5', 'Y', 'N', 'N')")

In [11]:
cur.execute("insert into simple_rules(r_id, prt_l, prt_r, sing_l, sing_r, ans) values (3, '1', '5', 'Y', 'Y', 'Y')")

In [13]:
cur.execute("insert into simple_rules(r_id, prt_l, prt_r, sing_l, sing_r, ans) values (4, 'b', '5', 'Y', 'Y', 'Y')")

In [202]:
cur.execute("delete from simple_rules where r_id = 28")

In [36]:
cur.execute("insert into simple_rules(r_id, prt_l, prt_r, sing_l, sing_r, ans) values (5, '6', '1', ' ', 'Y', 'Y')")

In [41]:
cur.execute("insert into simple_rules(r_id, prt_l, prt_r, sing_l, sing_r, ans) values (6, '5', '6', 'Y', ' ', 'Y')")

In [50]:
cur.execute("insert into simple_rules(r_id, prt_l, prt_r, sing_l, sing_r, ans) values (7, '6', 'b', ' ', 'Y', 'Y')")

In [57]:
cur.execute("insert into simple_rules(r_id, prt_l, prt_r, sing_l, sing_r, ans) values (8, '6', '1', ' ', 'N', 'Y')")

In [60]:
cur.execute("insert into simple_rules(r_id, prt_l, prt_r, sing_l, sing_r, ans) values (9, 'b', '6', 'Y', ' ', 'N')")

In [67]:
cur.execute("insert into simple_rules(r_id, prt_l, prt_r, sing_l, sing_r, ans) values (10, 'b', '6', 'N', ' ', 'N')")

In [127]:
cur.execute("insert into simple_rules(r_id, prt_l, prt_r, sing_l, sing_r, ans) values (11, '5', '6', 'N', ' ', 'Y')")

In [88]:
cur.execute("insert into simple_rules(r_id, prt_l, prt_r, sing_l, sing_r, ans) values (12, 'b', '5', 'N', 'Y', 'N')")

In [104]:
cur.execute("insert into simple_rules(r_id, prt_l, prt_r, sing_l, sing_r, ans) values (13, '5', 'b', 'Y', 'Y', 'Y')")

In [107]:
cur.execute("insert into simple_rules(r_id, prt_l, prt_r, sing_l, sing_r, ans) values (14, '5', 'b', 'Y', 'N', 'N')")

In [113]:
cur.execute("insert into simple_rules(r_id, prt_l, prt_r, sing_l, sing_r, ans) values (15, '5', '1', 'Y', 'N', 'Y')")

In [117]:
cur.execute("insert into simple_rules(r_id, prt_l, prt_r, sing_l, sing_r, ans) values (16, '5', '1', 'Y', 'Y', 'Y')")

In [134]:
cur.execute("insert into simple_rules(r_id, prt_l, prt_r, sing_l, sing_r, ans) values (17, '5', '1', 'N', 'Y', 'Y')")

In [137]:
cur.execute("insert into simple_rules(r_id, prt_l, prt_r, sing_l, sing_r, ans) values (18, '5', '1', 'N', 'N', 'Y')")

In [144]:
cur.execute("insert into simple_rules(r_id, prt_l, prt_r, sing_l, sing_r, ans) values (19, '5', 'b', 'N', 'Y', 'Y')")

In [154]:
cur.execute("insert into simple_rules(r_id, prt_l, prt_r, sing_l, sing_r, ans) values (20, '5', 'b', 'N', 'N', 'Y')")

In [160]:
cur.execute("insert into simple_rules(r_id, prt_l, prt_r, sing_l, sing_r, ans) values (21, '6', 'b', ' ', 'N', 'Y')")

In [166]:
cur.execute("insert into simple_rules(r_id, prt_l, prt_r, sing_l, sing_r, ans) values (22, '6', '5', ' ', 'N', 'Y')")

In [170]:
cur.execute("insert into simple_rules(r_id, prt_l, prt_r, sing_l, sing_r, ans) values (23, '6', '5', ' ', 'Y', 'Y')")

In [192]:
cur.execute("insert into simple_rules(r_id, prt_l, prt_r, sing_l, sing_r, ans) values (24, '1', '6', 'Y', ' ', 'Y')")

In [182]:
cur.execute("insert into simple_rules(r_id, prt_l, prt_r, sing_l, sing_r, ans) values (25, '1', '5', 'N', 'N', 'Y')")

In [188]:
cur.execute("insert into simple_rules(r_id, prt_l, prt_r, sing_l, sing_r, ans) values (26, '1', '5', 'N', 'Y', 'N')")

In [197]:
cur.execute("insert into simple_rules(r_id, prt_l, prt_r, sing_l, sing_r, ans) values (27, '1', '6', 'N', ' ', 'Y')")

In [203]:
cur.execute("insert into simple_rules(r_id, prt_l, prt_r, sing_l, sing_r, ans) values (28, 'b', '5', 'Y', 'N', 'N')")

In [120]:
cur.execute("select * from simple_rules")
res = cur.fetchall()
for row in res:
        print(row)

(10, 'b', '6', 'N', ' ', 'N', None)
(11, 'b', '5', 'N', 'N', 'Y', None)
(12, 'b', '5', 'N', 'Y', 'N', None)
(3, '1', '5', 'Y', 'Y', 'Y', None)
(4, 'b', '5', 'Y', 'Y', 'Y', None)
(6, '5', '6', 'Y', ' ', 'Y', None)
(5, '6', '1', ' ', 'Y', 'Y', None)
(7, '6', 'b', ' ', 'Y', 'Y', None)
(1, 'b', '5', 'N', 'N', 'Y', None)
(2, '1', '5', 'Y', 'N', 'N', None)
(8, '6', '1', ' ', 'N', 'Y', None)
(9, 'b', '6', 'Y', ' ', 'N', None)
(13, '5', 'b', 'Y', 'Y', 'Y', None)
(14, '5', 'b', 'Y', 'N', 'N', None)
(15, '5', '1', 'Y', 'N', 'Y', None)
(16, '5', '1', 'Y', 'Y', 'Y', None)

In [108]:
def check(str):
    lst = str.split()
    if len(lst) != 2:
        print("Это не пара слов")
        return -1
    cur.execute("select pos, singular from words where word = '%s'" % lst[0])
    res_l = cur.fetchall()
    res_l = list(set(res_l))
    cur.execute("select pos, singular from words where word = '%s'" % lst[1])
    res_r = cur.fetchall()
    res_r = list(set(res_r))
    for i in res_l:
        for j in res_r:
            print("select ans from simple_rules where prt_l = '{}' and prt_r = '{}' and sing_l = '{}' and sing_r = '{}'".format(i[0], j[0], i[1], j[1]))
            cur.execute("select ans from simple_rules where prt_l = '{}' and prt_r = '{}' and sing_l = '{}' and sing_r = '{}'".format(i[0], j[0], i[1], j[1]))
            res = cur.fetchall()
            res = list(set(res))
            if len(res) > 0:
                print("Правило сработало")
                for k in res:
                    print(k[0])

In [248]:
check("быть человеком")

select ans from simple_rules where prt_l = '6' and prt_r = '1' and sing_l = ' ' and sing_r = 'Y'
Правило сработало
Y

In [241]:
myconnection.commit()

In [27]:
myconnection.close()