In [3]:
import cx_Oracle
myconnection = cx_Oracle.connect('lexis/lexis@93.175.29.93/mipt')
cur = myconnection.cursor()

In [4]:
def space(str1):
    str2 = ""
    l = len(str1)
    for i in range(l):
        if str1[i] in (',', '.'):
            str2 += " "
        str2 += str1[i]
    return str2

In [31]:
str1 = space("Иван любил пить, танцевать его и танцевать")
print(str1)

Иван любил пить , танцевать его и танцевать

In [32]:
def commma(s):
    s = s.split()
    print(s)
    if 'и' in s:
        t = s.index('и')
        left = t
        right = t
        if t - 1 >= 0:
            cur.execute("select pos, singular, cow from words where word = '%s'" % s[t - 1])
            res1 = cur.fetchall()
            res1 = list(set(res1))
            print(res1)
        if t + 1 < len(s):
            cur.execute("select pos, singular, cow from words where word = '%s'" % s[t + 1])
            ress1 = cur.fetchall()
            ress1 = list(set(ress1))
            print(ress1)

In [33]:
commma(str1)

['Иван', 'любил', 'пить', ',', 'танцевать', 'его', 'и', 'танцевать']
[('2', 'N', '5'), ('2', 'N', '4'), ('2', 'N', '1'), ('2', 'Y', '3'), ('2', 'N', '6'), ('2', 'N', '2'), ('2', 'Y', '5'), ('b', 'Y', '4'), ('2', 'Y', '1'), ('2', 'N', '3'), ('2', 'Y', '6'), ('2', 'Y', '2'), ('b', 'Y', '2'), ('2', 'Y', '4')]
[('6', ' ', ' ')]

In [34]:
myconnection.close()